<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 <!-- =========================todo App================================= -->
<div class="container" >
  <div class="todo-list">
    <h1>Tod List</h1><br>
    <div>
      <input [(ngModel)]="todo.Title" type="text"  placeholder="Add a new Task..">
      <button type="submit" [disabled]="!todo.Title" (click)="addToDo()">{{todo.Id? 'Update':'Add'}}</button><br><br><br>

      <ul *ngFor="let list of todoList" value="1">
        <li>{{list.Id}}.  
          {{list.Title}}
          <i (click)="EditTodo(list)" class="fa fa-pencil"></i>
          <i (click)="DeleteTodo(list.Id)" class="fa fa-times"></i>
        </li>
      </ul>
    </div>
  </div><br><br>
<router-outlet />
